/* ======================================================
   Z-INDEX SCALE
====================================================== */

$z-hide: -1;

$z-base: 1;

$z-dropdown: 1000;

$z-sticky: 1020;

$z-fixed: 1030;

$z-offcanvas: 1040;

$z-modal-backdrop: 1050;

$z-modal: 1060;

$z-popover: 1070;

$z-tooltip: 1080;

$z-toast: 1090;

$z-loader: 9999;