.gallery {
  display: grid;

  grid-template-columns: repeat(
    auto-fill,
    minmax(70px, 1fr)
  );

  gap: 16px;

  margin-top: 20px;

  max-height: 320px;

  overflow-y: auto;

  padding-right: 6px;
}

.gallery::-webkit-scrollbar {
  width: 6px;
}

.gallery::-webkit-scrollbar-thumb {
  background: #d6d8df;

  border-radius: 20px;
}

.gallery::-webkit-scrollbar-track {
  background: transparent;
}